body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

#game {
  width: 410px;
  height: 485px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#panel {
  width: 405px;
  height: 75px;
  border: solid 1px;
  font-size: x-large;
  text-align: center;
  vertical-align: center;
  line-height: 75px;
}

.square {
  width: 100px;
  height: 100px;
  border: solid 1px;
  font-size: larger;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
}
