body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
p {
  text-align: center;
}

a {
  margin: 20px;
  font-size: larger;
}
